<%- include ('layouts/main-header.ejs') %>
<div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth">
        <div class="row flex-grow">
            <div class="col-lg-4 mx-auto">
                <div class="auth-form-light text-left p-5">
                    <div class="brand-logo">
                        <h1 class="text-center">
                            <span class="logoIcon">M</span><%= title %></h1>
                    </div>
                    <h6 class="font-weight-light text-center">Sign in to continue.</h6>
                    <div class="pt-3">
                        <div class="form-group">
                            <label>Email Address / Username:</label>
                            <input type="text" class="form-control form-control-lg" id="emailaddressLogin" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <label>Password:</label>
                            <input type="password" class="form-control form-control-lg" id="password" placeholder="Password">
                        </div>
                        <div class="my-2 d-flex justify-content-between align-items-center">
                            <div class="form-check">
                                <label class="form-check-label text-muted">
                                <input type="checkbox" class="form-check-input"> Keep me signed in </label>
                            </div>
                            <a a href="/forgotpassword" class="auth-link text-black">Forgot password?</a>
                        </div>
                        <div class="mt-3">
                            <button type="submit" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" onclick="UserLogin()" id="btnLogin">SIGN IN</button>
                        </div>
                        <form action="/api/login/42" method="get" class="mt-3">
                            <button type="submit" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" onclick="btnIntra42()"><img src="https://signin.intra.42.fr/assets/42_logo-7dfc9110a5319a308863b96bda33cea995046d1731cebb735e41b16255106c12.svg" width="25" height="25"/> SIGN IN</button>
                        </form>
                        <form action="/api/login/github" method="get" class="mt-3">
                            <button type="submit" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn"><svg class="octicon octicon-mark-github v-align-middle" height="32" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path></svg> SIGN IN</button>
                        </form>
                        
                        <div class="text-center mt-4 font-weight-light"> Don't have an account? <a href="/register" class="text-primary">Create</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ('layouts/main-footer.ejs') %>