<%- include ('layouts/main-header.ejs') %>
<div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth">
        <div class="row flex-grow">
            <div class="col-lg-4 mx-auto">
                <div class="auth-form-light text-left p-5">
                    <div class="brand-logo">
                        <h1 class="text-center">
                            <span class="logoIcon">M</span><%= title %></h1>
                    </div>
                    <h6 class="font-weight-light text-center">Reset Password Page.</h6>
                    <p class="alert-warning text-center" id="warnings">For submit button to display new password and confirm password must be the same.</p>
                    <form method="post" action="/passwordreset/user/change">
                        <div class="form-group ">
                            <label>New Password</label>
                            <input onkeyup="verify()" type="password" class="form-control form-control-lg " id="input1" placeholder="New Password" name="password" required>
                        </div>

                        <div class="form-group ">
                            <label>Confirm Password</label>
                            <input onkeyup="verify()"  type="password" class="form-control form-control-lg " id="input2" placeholder="Confirm Password" required>
                        </div>
                        <input name="customHash" type="text" id="CustomHash" value="<%= customHash %>" hidden>
                        <div class="mt-3 ">
                            <button id="submit-button" type="submit" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn">Change Password</button>
                        </div>
                        <div class="text-center mt-4 font-weight-light"> Change of mind? <a href="/login" class="text-primary">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</div>
<script>
    document.getElementById("submit-button").style.display = "none";

    function verify(){
        const input1 = document.getElementById("input1").value;
        const input2 = document.getElementById("input2").value;

        document.getElementById("warnings").style.display = "block";

        if (input1.length < 4 && input2.length < 4){
            document.getElementById("warnings").innerHTML = "New Password and Confirm Password must be morethan 4 charecters!";
            document.getElementById("submit-button").style.display = "none";
        }else if (input1 != input2){
            document.getElementById("warnings").innerHTML = "New Password and Confirm Password must be the same";
            document.getElementById("submit-button").style.display = "none";
        }else if (input1 == input2){
            document.getElementById("warnings").style.display = "none";
            document.getElementById("submit-button").style.display = "block";
        }
    }
</script>
<%- include ('layouts/main-footer.ejs') %>
