<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
            <div class="nav-profile-image">
                <img src="/images/default.jpg" alt="profile">
                <span class="login-status online"></span>
                <!--change to offline or busy as needed-->
            </div>
            <div class="nav-profile-text d-flex flex-column">
                <span class="font-weight-bold mb-2 FullName">Test User</span>
                <span class="text-secondary text-small UserName">Test UserName</span>
            </div>
            <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/encounter">
            <span class="menu-title">Encounter</span>
            <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user/nearby">
            <span class="menu-title">People Nearby</span>
            <i class="mdi mdi-near-me menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/user/matched">
            <span class="menu-title">Matched</span>
            <i class="mdi mdi-heart menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/user/messages">
            <span class="menu-title">Messages</span>
            <i class="mdi mdi-wechat menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/user/likes">
            <span class="menu-title">Liked you</span>
            <i class="mdi mdi-heart-outline menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/user/visitors">
            <span class="menu-title">Visitors</span>
            <i class="mdi mdi-human menu-icon"></i>
            </a>
        </li>
        
    </ul>
</nav>